:root {
    font-family: 'Poppins', sans-serif;
    background-color: #f4ece1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:576px) {

    img {
        width: 50px;
    }

    .gridContainer {
        height: 100vh;
    }

    nav ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    nav ul li {
        list-style: none;
        padding: 10px;


    }

    nav ul li img {
        width: 100%;
    }

    nav ul li a {
        text-decoration: none;
        color: #000;
    }

    li input {
        padding: 5px 10px 5px 10px;
        border-radius: 8px;
        border: 1px solid gray;
    }

    /* SECCION DEL TITULO */

    .contenedorTitulo h1 {
        text-align: center;
        margin-top: 5%;
        font-size: 100px;
        color: #FF7E00;
        margin-bottom: 0px;
        width: 100%;
    }

    .contenedorTitulo h2 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 5%;
    }

    .contenedorParrafo {
        padding: 0px 35px 0px 25px;
    }

    .contenedorParrafo p {
        text-align: center;
    }

    .cont-boton {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    button {

        padding: 10px 30px 10px 30px;
        border-radius: 26px;
        outline: none;
        border: 1px solid;
        background-color: #FF7E00;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .seccionImagen img {
        width: 0px;
    }

    .seccionFooter {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }




}

/* TABLET */

@media screen and (min-width:577px) and (max-width:1199px) {

    img {
        width: 50px;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    nav ul li {
        list-style: none;
        padding: 10px;


    }

    nav ul li img {
        width: 100%;
    }

    nav ul li a {
        text-decoration: none;
        color: #000;
    }

    li input {
        padding: 5px 10px 5px 10px;
        border-radius: 8px;
        border: 1px solid gray;
    }

    .li-input {
        padding: 0px;
    }

    /* SECCION TITULO */

    .contenedorTitulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedorTitulo h1 {
        font-size: 150px;
        color: #FF7E00;
    }

    .contenedorTitulo h2 {
        font-size: 45px;
    }

    .contenedorParrafo p {
        text-align: center;
        padding-bottom: 5%;
        font-size: 24px;
        font-weight: 400;
    }



    .cont-boton {
        display: flex;
        justify-content: center;
    }

    .cont-boton button {
        padding: 15px 40px 15px 40px;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        border-radius: 36px;
        border: 1px solid gray;
        background-color: #FF7E00;
        font-weight: 400;
    }

    .seccionImagen img {
        width: 80%;
    }

    .seccionImagen {
        display: flex;
        justify-content: center;
    }

    .seccionFooter {
        display: flex;
        justify-content: space-evenly;
        padding: 50px;
    }







}


/* DESKTOP */

@media screen and (min-width:1200px) {
    img {
        width: 50px;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    nav ul li {
        list-style: none;
        padding: 10px;


    }

    nav ul li img {
        width: 100%;
    }

    nav ul li a {
        text-decoration: none;
        color: #000;
    }

    li input {
        padding: 5px 10px 5px 10px;
        border-radius: 8px;
        border: 1px solid gray;
    }

    .li-input {
        padding: 0px;
    }

    .container-flex {
        display: flex;
        height: 80vh;
    }

    .seccionTitulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5%;
    }

    .contenedorTitulo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedorTitulo h1 {
        font-size: 10vw;
        color: #FF7E00;
    }

    .contenedorTitulo h2 {
        font-size: 3vw;
    }

    .contenedorParrafo {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    .cont-boton {
        display: flex;
        justify-content: center;
    }


    button {
        /* Variables */
        --button_radius: 0.75em;
        --button_color: #ffb56a;
        --button_outline_color: #000000;
        font-size: 17px;
        font-weight: bold;
        border: none;
        border-radius: var(--button_radius);
        background: var(--button_outline_color);
    }

    .button_top {
        display: block;
        box-sizing: border-box;
        border: 2px solid var(--button_outline_color);
        border-radius: var(--button_radius);
        padding: 0.75em 1.5em;
        background: var(--button_color);
        color: var(--button_outline_color);
        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
    }

    button:hover .button_top {
        /* Pull the button upwards when hovered */
        transform: translateY(-0.33em);
    }

    button:active .button_top {
        /* Push the button downwards when pressed */
        transform: translateY(0);
    }

    /* .cont-boton button {
        padding: 10px 40px 10px 40px;
        font-size: 20px;
        border-radius: 36px;
        background-color: #FF7E00;
        margin-top: 5%;
        border: 1px solid gray;
        font-family: 'Poppins', sans-serif;

    } */

    .seccionImagen {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .seccionImagen img {
        width: 80%;
    }

    .seccionFooter {
        display: flex;
        justify-content: space-evenly;
        padding: 100px 0px 30px 0px;
    }

}

/* Grids Contacto */

.gridContainerContacto {
    height: 100vh;
    display: grid;
    grid-template-columns: 1, 100%;
    grid-template-rows: 10% 70% 20%;
    grid-template-areas:
        "seccionNavContacto"
        "seccionCentralContacto"
        "seccionFooterContacto";
}

/* Activo las secciones del Grid */
.seccionNavContacto {
    grid-area: seccionNavContacto;
}

.seccionCentralContacto {
    grid-area: seccionCentralContacto;
}

.seccionFooterContacto {
    grid-area: seccionFooterContacto;
}

/* Estilos y Display Flex Contacto */

.seccionCentralContacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.seccionCentralContacto h1 {
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;

}

.seccionCentralContacto div h1 span {
    color: #FF7E00;
}

/* font-size Seccion Contacto */

.seccionCentralContacto div h1 {
    font-size: 50px;
}

.seccionCentralContacto div h2 {
    font-size: 32px;
}

.seccionCentralContacto div h3 {
    font-size: 20px;
}

.seccionCentralContactoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.seccionFooterContacto {
    display: flex;
    justify-content: start;
    justify-content: space-evenly;
    align-items: center;
}

.seccionFooterContacto footer {
    width: 100%;
}

.seccionFooterContacto footer a {
    margin-left: 100px;
}


/* @media query MOBILE */

/* @media screen and (max-width: 576px){
        nav ul{
            width: 100vh;
        }
        .seccionImagen img{
            width: 0%;
        }
        .seccionTitulo{
            width: 100vh;
            border: 2px solid;
        }
        .contenedorTitulo h1{
            font-size: 160px;
        }
        .contenedorTitulo h2{
            font-size: 50px;
        } */
/* } */